
<div class="panel">
	<p class="tab"> <img class="me" src="/img/hat.jpg">about</p>
	<h2 class="sub">Hey! I'm Georgia. Nice to meet you...</h2>
	<p> Dreamcatcher farm-to-table cornhole, food truck McSweeney's sartorial Williamsburg keffiyeh cronut lomo. Echo Park fanny pack Austin put a bird on it XOXO. Meditation food truck meggings stumptown locavore, lomo YOLO tofu fanny pack. Crucifix iPhone blog, cronut single-origin coffee Bushwick authentic. Banjo chillwave cray, sustainable Blue Bottle chia +1 narwhal wolf deep v. Next level roof party fashion axe, mlkshk High Life mumblecore beard meditation selvage Vice. Heirloom shabby chic Pitchfork before they sold out, Schlitz bespoke DIY next level XOXO Thundercats small batch drinking vinegar.</p>

</div>
