
<div class="panel">
	<p class="tab">  about</p>
	<h2 class="sub">Hey! I'm Georgia. Nice to meet you...</h2>
		<p> <img class="me" src="/img/hat.jpg"> I live in San Francisco.  </p>
		<p> I like code.  Especially JavaScript. And frameworks.  Especially JavaScript frameworks. I am a Front-end Engineer at <a href="www.slack.com">Slack</a>. It's pretty awesome.</p>
		<p> I like numbers too. Before I was an engineer, I was in finance. I worked for a company that valued other companies. That was pretty interesting. </p>
		<p> I also like helping people. Before I was in finance, before I was an engineer, I worked for an NGO, in Africa. We helped fund businesses and empowered people to build a brighter future for themselves and families. That was pretty inspiring. </p>
		<p>I kept a <a href="http://nkehani.blogspot.com/">blog</a> too. If you're curious. </p>
		<p>  Other things I like include: Yoga, painting, creating found object art, hanging out with furry four-legged creatures, going on adventures, the wilder the better.</p>

</div>
