@import url(https://fonts.googleapis.com/css?family=Vibur|Zeyada|Inconsolata);

/*General Styling*/
body {
  background: url('/img/street-mono.jpg') no-repeat center fixed;
  font-family: 'Vibur';
}
.title{
  max-width:100%;
  min-height:380px;
}
.logo a{
  text-decoration: none;
	text-align: center;
	width: 570px;
	height: 180px;
	margin: auto;
	position: absolute;
	top: 0;
	left: 40%;
	right: 0;
	bottom: 50%;
	-webkit-transform: rotate(10deg);
	-moz-transform: rotate(10deg);
	-ms-transform: rotate(10deg);
}

@keyframes blink {
  79% {
    color: inherit;
    text-shadow: inherit;
  }
  80% {
    color: #333;
    text-shadow: none;
  }
  80.5% {
    color: inherit;
    text-shadow: inherit;
  }
  81% {
    color: #333;
    text-shadow: none;
  }
  81.5% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  82.5% {
    color: inherit;
    text-shadow: inherit;
  }
}

.logo a{
  font: 100 4em 'Vibur';
  color: #00ffff;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #00ffff, 0 0 0.5em #00ffff, 0 0 0.1em #00ffff;
  text-decoration: none;
}
.logo b {
  animation: blink linear infinite 9s;
  font: inherit;
  text-decoration: none;
}
.menu{
  display:inline-block;
  width:50%;
  height:20%;
  float:initial;
  padding: 5% 0% 5% 10%;
  text-align: left;

}
.page{
  color:#000;
  text-decoration: none;
  cursor: pointer;
  font-size: 2em;
  text-shadow: 0 -1em 2em, 0 0 1em #fff, 0 0 0.5em #fff, 0 0 0.1em #fff;
  font-style: normal;
  padding-bottom: 2%;
}
.page:hover{
  color:#00ffff;
  text-shadow: 0 -1em 2em, 0 0 2px, 0 0 1em #00ffff, 0 0 0.5em #00ffff, 0 0 0.1em #00ffff;
}
.social{
  display:inline-block;
  height:20%;
  width:30%;
  float:right;
  text-align:right;
  padding:5% 0.25% 0% 0% ;
}
.icon{
   padding-bottom:0.25em;
}
.route{
  background: url('/img/brick-mono.jpg') center;
  border-top: 10px solid #000;
  margin:0 auto;
  min-height: 200px;
  padding:7% 10% 7% 10%;
  font-family: 'Inconsolata';
}
.panel{
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  overflow: auto;
  padding:3% 5% 4% 5%;
  opacity: 1;
  background: rgba(255, 255, 255, 0.35);
  text-align: center;
}
.tab{
  cursor: default;
  text-align: right;
  margin-right: 20px;
  -webkit-margin-before:0px;
  font-family: 'Vibur';
  font-size: 1.75em;
  color:#000;
  text-shadow:0 -1em 2em, 0 0 1em #fff, 0 0 0.5em #fff, 0 0 0.1em #fff;
}
.sub{
  text-align: center;
}
.me{
  display:block;
  width:25%;
  float:left;
  margin:0% 4% 5% 0;
}
.light-box{
  z-index:1004;
  float:left;
  margin:3% 5% 0% 5%;
  display:block;
  width: 30%;
  height: 30%;
  padding: .5em;
  background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 2px 2px  6px 6px rgba(0,0,0,0.35);
  -moz-box-shadow: 2px 2px  6px 6px rgba(0,0,0,0.35);
  box-shadow: 2px 2px 6px 6px rgba(0,0,0,0.35);
  text-align:center;
  font-size: .75em;
}
img.thumbnail{
  display:block;
  max-width:100%;
}
.contact{
  color:#000;
  font-weight:2em;
  margin:1%;
}
.contact:hover{
  color:#00ffff;
}
a{
  text-decoration: none;
  color:#00ffff;
}
/*Mobile sizing stuff*/
@media only screen and (max-device-width: 750px){
  .title{
    max-width: 100%;
    height:200px; 
  }
  .logo a{
    position:absolute;
    margin:0 auto;
    padding:0 auto;
    width: 200px;
    height: 180px;
  }
  .me{
    width:43%;
  }
}